body {
    background-color: black;
    color: white;
}

h1, .selectbar {
    color: #77dfa8;
    font-family: "Lucida Sans Typewriter", "Courier New", monospace;
    text-align: center;
}

/* .albumimage {
    width:
} */