body {
    background-color: black;
    color: white;
}

h1, .selectBar {
    color: #FF00FF;
    font-family: "Lucida Sans Typewriter", "Courier New", monospace;
    text-align: center;
}

.tileLabels {
    background-color: #77dfa8;
    color: black;
    font-family: "Lucida Sans Typewriter", "Courier New", monospace;
    text-align: center;
}

.selectBox{
    width:140px;
    height:40px;
    border:0px;
    outline:none;
    text-align: center;
    font-family: "Lucida Sans Typewriter", "Courier New", monospace;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background: #77dfa8;
} 

.selectBarSubmit {
    background-color: #77dfa8;
    color: #FF00FF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}