body {
    background-color: black;
    color: white;
}

h1, .selectbar {
    color: #77dfa8;
    font-family: "Lucida Sans Typewriter", "Courier New", monospace;
    text-align: center;
}

.tileLabels {
    background-color: #77dfa8;
    color: black;
    font-family: "Lucida Sans Typewriter", "Courier New", monospace;
    text-align: center;
}